$menuColor: darkcyan;
$mobileSize: 600px;


h2 {
   font-family: cursive;
}

.menu {

   display: flex;
   font-size: 20px;

   @media (max-width: $mobileSize) {
      flex-direction: column;
      text-align: center;
   }

   .menu-item {

      background-color: $menuColor;
      width: 100%;
      padding: 20px;
      color: white;
     
      &:hover {
         background-color: darken($menuColor, 10%);
         cursor: pointer;
      }
   }
}