.header-container {
  background-color: #1976d2;
  height: 100px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.page-container {
  background-image: url('../assets/background-principal.png');
  background-repeat: round;
  background-size: cover;
  height: calc(100vh - 100px);
}
